@model IEnumerable<App.Models.Contacts.Contact>

 <!-- ======= Testimonials Section ======= -->
    <section id="rate" class="testimonials section-bg">
        <div class="container">
            <div class="section-title">
                <span>Đánh giá từ người dùng</span>
                <h2>Đánh giá từ người dùng</h2>
                <p>Các đánh giá mà chúng tôi nhận được trong suốt quá trình hoạt động</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    @foreach (var inforRate in Model)
                    {
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    @Html.DisplayFor(modelItem => inforRate.Message)
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="~/images/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>@Html.DisplayFor(modelItem => inforRate.FullName)</h3>
                            </div>
                        </div>
                    <!-- End testimonial item -->
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End Testimonials Section -->