@model App.Models.CategoryElectricEquipment
@using App.Menu
@using App.ExtendMethods

@inject SideBarService _sidebarService

@{
    ViewData["Title"] = "Cập nhật danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CateElecEquipName" class="control-label"></label>
                <input asp-for="CateElecEquipName" class="form-control" />
                <span asp-validation-for="CateElecEquipName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input class="btn btn-success btn-sm" type="submit" value="Cập nhật" /> |
                <a class="btn btn-primary btn-sm" asp-action="Index">Trở lại</a>
            </div>
        </form>
    </div>
</div>

@{
    _sidebarService.setActive("Ingredient", "CateElecEquipment", "Index");
}

@section SideBar{
    @Html.Raw(_sidebarService.RenderHtml())
}