@model App.Models.Material
@using App.Menu
@using App.ExtendMethods

@inject SideBarService _sidebarService

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngredientPrice" class="control-label"></label>
                <input asp-for="IngredientPrice" class="form-control" />
                <span asp-validation-for="IngredientPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalWeight" class="control-label"></label>
                <input asp-for="TotalWeight" class="form-control" />
                <span asp-validation-for="TotalWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brandID" class="control-label"></label>
                <select asp-for="brandID" class="form-control" asp-items="ViewBag.brandID"></select>
                <span asp-validation-for="brandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryIngredientID" class="control-label"></label>
                <select asp-for="CategoryIngredientID" class="form-control" asp-items="ViewBag.CategoryIngredientID"></select>
                <span asp-validation-for="CategoryIngredientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-warning btn-sm" type="submit" value="Cập nhật" />
                <a class="btn btn-primary btn-sm" asp-action="Index">Trở lại</a>
            </div>
        </form>
    </div>
</div>

@{
    _sidebarService.setActive("Ingredient", "Ingredient", "Index");
}

@section SideBar{
    @Html.Raw(_sidebarService.RenderHtml())
}
