@model App.Models.InfoShop
@using App.ExtendMethods
@using App.Menu


@inject SideBarService _sidebarService

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if(Model.Id == 0){
                <input type="hidden" value="0" asp-for="Id" />
            }
            else
            {
                <input type="hidden" asp-for="Id" />
            }
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopName" class="control-label"></label>
                <input asp-for="ShopName" class="form-control" />
                <span asp-validation-for="ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopAddress" class="control-label"></label>
                <input asp-for="ShopAddress" class="form-control" />
                <span asp-validation-for="ShopAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopPhoneNumber" class="control-label"></label>
                <input asp-for="ShopPhoneNumber" class="form-control" />
                <span asp-validation-for="ShopPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopEmail" class="control-label"></label>
                <input asp-for="ShopEmail" class="form-control" />
                <span asp-validation-for="ShopEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-sm btn-primary" />
                <a class="btn btn-sm btn-danger" asp-action="Index">Trở lại</a>
            </div>
        </form>
    </div>
</div>

@{
	_sidebarService.setActive("AdminCP", "ConfigShop", "SysInfoShop");
}

@section SideBar{
	@Html.Raw(_sidebarService.RenderHtml())
}